 .nav_wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 333;
    display: table;
    margin-bottom: 30px;
    margin-top: 30px;
}
#myslidemenu{
    float: none;
    text-align: center;
}
nav select{
display:none;
}
nav {
    position: relative;
    z-index: 99;
}
.menu select{	
	display:none;
}
.nav_wrap .menu{
    list-style: none outside none;
    text-align: center;
}
.nav_wrap .menu > li > ul{
	margin-top:0px;
}
.menu ul li:hover > ul {
	display: block;
}
.menu ul {
    display: block;
    list-style: none outside none;
    position: relative;
    z-index: 99;
    margin:0;
    text-align: center;
}

.menu > ul  > li {
    display: inline-block;
    margin-top: 0;
    position: relative;
}
#jqueryslidemenu i {
    padding-right: 10px;
}
.menu > ul > li > a {
    color: #FFFFFF;
    padding: 15px 25px;
    text-decoration: none;
    border:2px solid #fff;
    display: inline-block;
     background-image: url(../images/menu_bg.png);
}

.menu > ul > li > a1:last-child {
    border-right: 0 none;
}

.menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
	width:205px;
	}

.menu ul ul li {
	float: none;
	 position: relative;
	 border-bottom:1px solid rgba(127,127, 127, 0.3);
}
.menu ul ul li a {
    color: #333;
    display: block;
    padding: 8px 25px;
    text-align: left;
	font-size:13px;
	background-color:#fff;
	line-height: 18px;

}
.menu ul ul li a:hover {
	color:#F54325;
}
.menu ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
	width:140px;
}
.menu ul  li:first-child1  > a{
border-left:0px!important;
}
.menu ul  li ul li:last-child , .menu ul  li ul li ul li:last-child {
border-bottom:none!important;
background-color:#ccc;
}
.menu > li.current-menu-item > a, .menu > li.current_page_item > a, .menu > ul  > li:hover > a
{
  background-color:#f54325;
color:#fff;
-webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.menu .current_page_ancestor  > a, .menu .current-menu-ancestor > a, .menu .current-menu-item  > a{

}
.menu > li.current-menu-item > a, .menu > li.current_page_item > a, .menu > ul > li:hover > a {
    background-color: #1ABC9C !important;
}
